BOT_TOKEN=<TOKEN_HERE>

AKASHIC_SERVER_ID=<AKASHIC_SERVER_ID_HERE>
AKASHIC_VERIF_CHANNEL_ID=<AKASHIC_VERIF_CHANNEL_ID_HERE>
AKASHIC_WELCOME_CHANNEL_ID=<AKASHIC_WELCOME_CHANNEL_ID_HERE>
AKASHIC_RULE_CHANNEL_ID=<AKASHIC_RULE_CHANNEL_ID_HERE>
AKASHIC_VERIFIED_ROLE_ID=<AKASHIC_VERIFIED_ROLE_ID_HERE>

CHISA_MOD_CHANNEL_ID=<CHISA_MOD_CHANNEL_ID_HERE>
CHISA_LOG_CHANNEL_ID=<CHISA_LOG_CHANNEL_ID_HERE>

REDIS_URL=redis://localhost:6379

WISE_TOKEN=<WISE_TOKEN_HERE>
CURRENCY_API_TOKEN=<CURRENCY_API_TOKEN_HERE>